<!DOCTYPE html>

{% extends 'milk_app/base.html' %}
{% load staticfiles %}


{% block title_block %}
    About Milk

{% endblock %}

{% block body_block %}
<div class="jumbotron p-2" style = "width: 22rem;">
    <div class="container padding-4">
        <div h1 class="jumbotron-heading">
            About page
        </div>
        <p style = "font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; "class="font-weight-bold">This tutorial has been put together by Artem </p>  
        <p style = "font-family: cursive; ">
            <span style="color: cornflowerblue;">Visits: </span>
            <span style="color: darkblue;">{{ visits }}</span> 
        </p>
    </div>

</div>



<!-- <img src="{% static "images/rango.jpg" %}" width="500" height =500 alt="Picture of Rango" /> 
<img src="{{MEDIA_URL}}cat.jpg" alt="Picture of a Cat." width="500" height =500 /> -->


{% endblock %}


