<!DOCTYPE html>

{% extends 'milk_app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title_block %}

    Add a Listing

{% endblock %}

{% block body_block %}

<div class="jumbotron p-2" style = "width: 22rem;">
    <div class="container padding-4">
        <form  id="listing_form" method="post" action="{% url 'milk_app:add_listing' %}" enctype="multipart/form-data">
            
            {% csrf_token %}


            {{ listing_form|crispy }}

            <button class = "btn btn-primary" type="submit" name="submit"> Create listing </button>
        </form>


    </div>

</div>
{% endblock %}