<!DOCTYPE html>

{% extends 'milk_app/base.html' %}
{% load static %}


{% block title_block %}
    Careers at MilkStudents

{% endblock %}

{% block body_block %}
<section data-v-531f3bf5="" class="gc-home-teams"><div data-v-5e475006="" data-v-531f3bf5="" class="gc-container"><div data-v-531f3bf5="" class="gc-grid-cols gc-media-with-content" data-v-5e475006=""><div class="gc-grid-cols__col gc-grid-cols__col--span-0 gc-grid-cols__col--span-0-small gc-grid-cols__col--span-0-medium gc-grid-cols__col--span-1-large gc-grid-cols__col--span-2-xlarge"></div> <div class="gc-grid-cols__col gc-grid-cols__col--span-4 gc-grid-cols__col--span-12-small gc-grid-cols__col--span-5-medium gc-grid-cols__col--span-9-large gc-grid-cols__col--span-9-xlarge"><picture data-v-531f3bf5=""><source data-v-531f3bf5="" src="/jobs/dist/img/assets/teams-01_1x.32d03ddfe21af5d155a773f41753cf25.webp" srcset="
    /jobs/dist/img/assets/teams-01_1x.32d03ddfe21af5d155a773f41753cf25.webp 1x,
    /jobs/dist/img/assets/teams-01_2x.40c2b8a268abc9223d8c1b04875d00a3.webp 2x" type="image/webp"> <img data-v-531f3bf5="" src="/jobs/dist/img/assets/teams-01_1x.1eded1a808335f34c96549ccffbbfa45.jpg" srcset="
    /jobs/dist/img/assets/teams-01_1x.1eded1a808335f34c96549ccffbbfa45.jpg 1x,
    /jobs/dist/img/assets/teams-01_2x.73c1f11a242df08e26401baf42bc5e95.jpg 2x" aria-hidden="true" loading="lazy" role="presentation" alt="" class="gc-home-teams__image"></picture></div> <div class="gc-grid-cols__col gc-grid-cols__col--span-0 gc-grid-cols__col--span-0-small gc-grid-cols__col--span-1-medium gc-grid-cols__col--span-2-large gc-grid-cols__col--span-2-xlarge"></div> <div class="gc-grid-cols__col gc-grid-cols__col--span-4 gc-grid-cols__col--span-12-small gc-grid-cols__col--span-6-medium gc-grid-cols__col--span-9-large gc-grid-cols__col--span-9-xlarge"><h2 data-v-531f3bf5="" class="gc-home-teams__overline gc-overline">
  Teams
</h2> <h3 data-v-531f3bf5="" class="gc-home-teams__headline gc-headline gc-headline--display-1">
  Find your team
</h3> <p data-v-531f3bf5="">
  Together, we create access to information and build products for everyone. Want to be a Googler? Find your team.
</p> <div data-v-531f3bf5="" class="gc-grid-cols gc-home-teams__cols"><div data-v-531f3bf5="" class="gc-home-teams__cols-col gc-grid-cols__col gc-grid-cols__col--span-4 gc-grid-cols__col--span-6-small gc-grid-cols__col--span-3-medium gc-grid-cols__col--span-4-large gc-grid-cols__col--span-4-xlarge"><h3 data-v-531f3bf5="" class="gc-headline gc-headline--headline-6 gc-font-weight-medium"><a data-v-531f3bf5="" href="/teams/engineering-technology/" class="">
          Engineering &amp; Tech
        </a></h3> <p data-v-531f3bf5="">
        Develop the products and tools of the future for billions of users.
      </p></div> <div data-v-531f3bf5="" class="gc-grid-cols__col gc-grid-cols__col--span-0 gc-grid-cols__col--span-0-small gc-grid-cols__col--span-0-medium gc-grid-cols__col--span-1-large gc-grid-cols__col--span-1-xlarge"></div><div data-v-531f3bf5="" class="gc-home-teams__cols-col gc-grid-cols__col gc-grid-cols__col--span-4 gc-grid-cols__col--span-6-small gc-grid-cols__col--span-3-medium gc-grid-cols__col--span-4-large gc-grid-cols__col--span-4-xlarge"><h3 data-v-531f3bf5="" class="gc-headline gc-headline--headline-6 gc-font-weight-medium"><a data-v-531f3bf5="" href="/teams/sales-service-support/" class="">
          Sales, Service &amp; Support
        </a></h3> <p data-v-531f3bf5="">
        Equip businesses with the right tools to help them grow.
      </p></div> <!----><div data-v-531f3bf5="" class="gc-home-teams__cols-col gc-grid-cols__col gc-grid-cols__col--span-4 gc-grid-cols__col--span-6-small gc-grid-cols__col--span-3-medium gc-grid-cols__col--span-4-large gc-grid-cols__col--span-4-xlarge"><h3 data-v-531f3bf5="" class="gc-headline gc-headline--headline-6 gc-font-weight-medium"><a data-v-531f3bf5="" href="/teams/people/" class="">
          People
        </a></h3> <p data-v-531f3bf5="">
        Find, grow, and support the people who make Google great.
      </p></div> <div data-v-531f3bf5="" class="gc-grid-cols__col gc-grid-cols__col--span-0 gc-grid-cols__col--span-0-small gc-grid-cols__col--span-0-medium gc-grid-cols__col--span-1-large gc-grid-cols__col--span-1-xlarge"></div><div data-v-531f3bf5="" class="gc-home-teams__cols-col gc-grid-cols__col gc-grid-cols__col--span-4 gc-grid-cols__col--span-6-small gc-grid-cols__col--span-3-medium gc-grid-cols__col--span-4-large gc-grid-cols__col--span-4-xlarge"><h3 data-v-531f3bf5="" class="gc-headline gc-headline--headline-6 gc-font-weight-medium"><a data-v-531f3bf5="" href="/hardware/" class="">
          Consumer Hardware
        </a></h3> <p data-v-531f3bf5="">
        Make people's lives better through technology.
      </p></div> <!----></div> <div data-v-531f3bf5="" class="gc-home-teams__footer"><a data-v-531f3bf5="" href="/teams/" class="gc-home-teams__footer-cta gc-link">
    View all teams
  </a></div></div> <div class="gc-grid-cols__col gc-grid-cols__col--span-0 gc-grid-cols__col--span-0-small gc-grid-cols__col--span-0-medium gc-grid-cols__col--span-1-large gc-grid-cols__col--span-2-xlarge"></div></div></div></section>



<!-- <img src="{% static "images/rango.jpg" %}" width="500" height =500 alt="Picture of Rango" /> 
<img src="{{MEDIA_URL}}cat.jpg" alt="Picture of a Cat." width="500" height =500 /> -->


{% endblock %}


