<!DOCTYPE html>

{% extends 'milk_app/base.html' %}
{% load staticfiles %}


{% block title_block %}
    Contact Us

{% endblock %}

{% block body_block %}
<div class="jumbotron p-2" style = "width: 22rem;">
    <div class="container padding-4">
        <div h1 class="jumbotron-heading">
            Contact Us
        </div>
        <p style = "font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; "class="font-weight-bold">E-mail : xd@gmail.com </p>
        <p style = "font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; "class="font-weight-bold">Phone: +441234567890 </p>              
 
        </p>
    </div>

</div>



{% endblock %}


