<!DOCTYPE html>

{% extends 'milk_app/base.html' %}
{% load static %}


{% block title_block %}
    Frequently Asked Questions

{% endblock %}

{% block body_block %}
<div class="jumbotron p-2" style = "width: 22rem;">
    <div class="container padding-4">
        <div h1 class="jumbotron-heading">
            Frequently Asked Questions
        </div>
        <p style = "font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; "class="font-weight-bold">About page set up within the views</p>  
        <p style = "font-family: cursive; ">
            <span style="color: cornflowerblue;">Visits: </span>
 
        </p>
    </div>

</div>
{% endblock %}


