{% extends 'milk_app/base.html' %}
{% load static %}

<!DOCTYPE html>

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}

<!-- Home page for Hosts -->
{% if user.userprofile.account == "Host" %}
    <div class="container">
        <div class="row">
            
            <div class="home_hover_pictures col-4">
                <a href="{% url 'milk_app:add_listing' %}"><img class="img-responsive" src="{% static 'images/listing-property.jpg' %}"></a>
                <h4>Create a new listing</h4>
            </div>
            
            <div class="home_hover_pictures col-4">
                <a href="{% url 'milk_app:my_listings' %}"><img class="img-responsive" src="{% static 'images/your-properties.jpg' %}"></a>
                <h4>Show your rented properties</h4>
            </div>

            <div class="home_hover_pictures col-4">
                <a href="{% url 'milk_app:browse_listings' %}"><img class="img-responsive" src="{% static 'images/scroll-others.jpg' %}"></a>
                <h4>Scroll other properties</h4>
            </div>
        </div>
    </div>

<!-- Home page for Tenants (not the beer) -->
{% elif user.userprofile.account == 'Tenant' %}

<!-- Home page for not logged users -->
{% else %}
<br><br>    
    <section >
        <div>
            
        </div>
    </section>
    
{% endif %}


{% endblock %}



