{% extends 'milk_app/base.html' %}
{% load static %}

<!DOCTYPE html>

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}

<!-- Home page for Hosts -->
{% if user.userprofile.account == "Host" %}
    <div class="container">
        <div class="row">
            
            <!-- Scroll other properties -->
            <div class="center-block col-4">
                <a href="{% url 'milk_app:browse_listings' %}"><img class="img-responsive img-center" src="{% static 'images/scroll-others.jpg' %}">
                <h4>Scroll all properties</h4>
                </a>
            </div>

            <!-- Transfers HOST user to a page where he can add a new listing -->
            <div class="center-block col-4">
                <a href="{% url 'milk_app:add_listing' %}"><img class="img-responsive img-center" src="{% static 'images/listing-property.jpg' %}">
                <h4>Create a new listing</h4>
                </a>
            </div>
            
            <!-- Refers the HOST user to the page where he sees all his currently enlisted and also rented out properties -->
            <div class="center-block col-4">
                <a href="{% url 'milk_app:my_listings' %}"><img class="img-responsive img-center" src="{% static 'images/your-properties.jpg' %}">
                <h4>Show your rented properties</h4>
                </a>
            </div>

            
        </div>
    </div>

<!-- Home page for Tenants (not the beer) -->
{% elif user.userprofile.account == 'Tenant' %}
    <div class="container">
        <div class="row">
            
            <!-- Scroll other properties-->
            <div class="center-block col-4">
                <a href="{% url 'milk_app:browse_listings' %}"><img class="img-responsive img-center" src="{% static 'images/scroll-others.jpg' %}">
                <h4>Scroll all properties</h4>
                </a>
            </div>

            <!-- Check user's currently rented properties-->
            <div class="center-block col-4">
                <a href="{% url 'milk_app:my_listings' %}"><img class="img-responsive img-center"  src="{% static 'images/listing-property.jpg' %}">
                
                <!-- If user has any, refers them to those -->
                {% if user. %} 

                <!-- If does not have any, refers them to their homepage with an error message -->
                {% else %}
                    
                {% endif %}
                <h4>Check out your own rentals</h4>
                </a>

            </div>

        </div>
    </div>
<!-- Home page for not logged users -->
{% else %}
    <div class="container">
        <div class="row">
            
            <!-- Scroll other properties-->
            <div class="col-4 img-container">
                <a href="{% url 'milk_app:browse_listings' %}"><img class="img-responsive img-center" src="{% static 'images/scroll-others.jpg' %}">
                <h4>Scroll all properties</h4>
                </a>
            </div>  
        
        </div>
    </div>
{% endif %}


{% endblock %}



