{% extends 'milk_app/base.html' %}
{% load static %}

<!DOCTYPE html>

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
<!-- Start of the image slider -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="7000">
  <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <!-- Slide number 1 -->
  <div class="carousel-inner" role="listbox">
      <div class="carousel-item active" style="background-image: url('/static/images/house2.jpg')">
          <div class="carousel-caption text-center">
              <h1>welcome to milkstudents</h1>
              <h3>student accomodation expert</h3>
              <a class="btn btn-outline-light btn-lg" href="#body-section" role="button">get started</a>
          </div>
      </div>
      
      <!-- Slide number 2 // H -->
      <div class="carousel-item" style="background-image: url('/static/images/house1.jpg')"></div>
        <div class="carousel-caption text-center">
          <h1>Join our growing community of members!</h1>
          <h3>Register if you don't have an account yet</h3>
          <a class="btn btn-outline-light btn-lg" href="{% url 'milk_app:register' %}" role="button">register</a>
          <h3>Log in if you're already a member</h3>
          <a class="btn btn-outline-light btn-lg" href="{% url 'milk_app:login' %}" role="button">log in</a>
        </div>
        
      
      <!-- Slide number 3 -->
      <div class="carousel-item" style="background-image: url('/static/images/house3.jpg')"></div>

  </div> 
<!-- End of the inner carousel -->
<!-- Buttons for navigating to previous and next carousel image -->
<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
</a>

<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
</a>
</div>
<!-- End of the image slider -->
<!-- End of the home section -->
  

<!-- Start of the section below carousel -->

<!-- End of the section below carousel -->



<!-- Start of the team section -->
<div id="team" class="offset">

</div>

<!-- End of the team section -->

<div id="#body-section">
<!-- Home page for Hosts -->
{% if user.userprofile.account == "Host" %}
    <div class="row">
        <div class="col">
        <h1 class="text-center">What do you wish to do?</h1>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center align-items-center   ">

            <div class="col-10 col-md-4">
            <!-- Scroll other properties -->
            <div class="card">
                <a href="{% url 'milk_app:browse_listings' %}"><img class="img-responsive img-center" src="{% static 'images/scroll-others.jpg' %}">
                
                <div class="card-body">
                    <p class="card-text">Scroll all properties.</p>
                </div>
                </a>
            </div>
        </div>


        <div class="col-10 col-md-4">
            <!-- Transfers HOST user to a page where he can add a new listing -->
          <div class="card">
            <a href="{% url 'milk_app:add_listing' %}"><img class="img-responsive img-center" src="{% static 'images/listing-property.jpg' %}">
                
            <div class="card-body">
              <p class="card-text">Create a new listing.</p>
            </div>
            </a>
          </div>
        </div>

            
        <div class="col-10 col-md-4">
            <!-- Refers the HOST user to the page where he sees all his currently enlisted and also rented out properties -->
            <div class="card">
                <a href="{% url 'milk_app:my_listings' %}"><img class="img-responsive img-center" src="{% static 'images/your-properties.jpg' %}">

              <div class="card-body">
                <p class="card-text">Show your rented properties.</p>
              </div>
            </a>
            </div>
          </div>
            
        </div>
    </div>

<!-- Home page for Tenants (not the beer) -->
{% elif user.userprofile.account == 'Tenant' %}
    <div class="container">
        <div class="row justify-content-center align-items-center">

            <div class="col-10 col-md-4">
            <!-- Scroll other properties -->
            <div class="card">
                <a href="{% url 'milk_app:browse_listings' %}"><img class="img-responsive img-center" src="{% static 'images/scroll-others.jpg' %}">
                
                <div class="card-body">
                    <p class="card-text">Scroll all properties.</p>
                </div>
                </a>
            </div>
            </div>

            <div class="col-10 col-md-4">
                <!-- Refers the HOST user to the page where he sees all his currently enlisted and also rented out properties -->
                <div class="card">
                    <a href="{% url 'milk_app:my_listings' %}"><img class="img-responsive img-center" src="{% static 'images/your-properties.jpg' %}">
    
                  <div class="card-body">
                    <p class="card-text">Show your rented properties.</p>
                  </div>
                </a>
                </div>
              </div>

        <!--         

                {% if user. %} 

               If does not have any, refers them to their homepage with an error message 
                {% else %}
                    
                {% endif %}
                <h4>Check out your own rentals</h4>

            </div> -->

        </div>
    </div>

<!-- Home page for not logged users -->
{% else %}
    <div class="container">
        <div class="row align-items-center">
            
            <div class="container">
                <div class="row justify-content-center">
        
                    <div class="col-10 col-md-4 ">
                    <!-- Scroll other properties -->
                    <div class="card">
                        <a href="{% url 'milk_app:browse_listings' %}"><img class="img-responsive img-center" src="{% static 'images/scroll-others.jpg' %}">
                        
                        <div class="card-body">
                            <p class="card-text">Scroll all properties.</p>
                        </div>
                        </a>
                    </div>
                    </div>
        
        </div>
    </div>
{% endif %}
{% endblock %}
  </div>

  <script>
    var scroll = new SmoothScroll('a[href*="#"]');
  </script>


<script>
  $('.carousel').on('slid.bs.carousel', function () {
   $('#text').html($('.active > .carousel-caption').html());
   });
</script>

