<!DOCTYPE html>

{% extends 'milk_app/base.html' %}
{% load staticfiles %}


{% block title_block %}

    {% if listing %}
        {{ listing.name }}
    {% else %}
        Listing does not exist.
    {% endif %}

{% endblock %}

{% block body_block %}
<div class="jumbotron p-2" style = "width: 22rem;">
    <div class="container padding-4">
        <div h1 class="jumbotron-heading">
            
        </div>
        <p style = "font-family: cursive; ">
            <span style="color: cornflowerblue;">
            {% if listing %}
                {{ listing.name }} in {{listing.uniName}}

                <!-- What everyone sees -->
                <p>Address: {{listing.address}}</p>
                <p>Rating: {{listing.rating}}</p>
                <p>Owner: {{owner_info.user.username}}</p>
                
                <!-- Logic behind How listing should look for Host/tenant -->
                
                {% if current_user.account == 'Tenant' and owner_info.user.username != current_user.user.username %} 

                <form action = "{% url 'milk_app:purchase_listing' listing.slug %}" method = 'POST'> 
                    {% csrf_token %}
                    <button type = 'submit'> Rent Listing</button>
                </form>


                {% elif current_user.account == 'Host' and owner_info.user.username == current_user.user.username %}
                <a tabindex="0" class="btn btn-lg btn-warning" role="button" data-toggle="popover" data-trigger="focus" title="Update Listing" data-content="Update Listing">Update Listing</a>
                
                <form action = "{% url 'milk_app:remove_listing' listing.slug %}" method = 'POST'> 
                    {% csrf_token %}
                    <button type = 'submit'> Remove Listing</button>
                </form>
               
                {% endif %}

            {% else %}
                Listing does not exist.
            {% endif %}
            
            
            </span>
 
        </p>
    </div>

</div>
{% endblock %}