<!DOCTYPE html>

{% extends 'milk_app/base.html' %}
{% load staticfiles %}


{% block title_block %}

    {% if listing %}
        {{ listing.name }}
    {% else %}
        Listing does not exist.
    {% endif %}

{% endblock %}

{% block body_block %}
<div class="jumbotron p-2" style = "width: 22rem;">
    <div class="container padding-4">
        <div h1 class="jumbotron-heading">
            
        </div>
        <p style = "font-family: cursive; ">
            <span style="color: cornflowerblue;">
            {% if listing %}
                {{ listing.name }} in {{listing.uniName}}


                <p>Address: {{listing.address}}</p>
                <p>Rating: {{listing.rating}}</p>
                <p>Owner: {{owner_info.user.username}}</p>
                
                <!-- How listing should look for Host -->
                
                {% if current_user == 'Tenant' %} 
                    <a tabindex="0" class="btn btn-lg btn-warning" role="button" data-toggle="popover" data-trigger="focus" title="Rent Listing" data-content="Rent Listing">Rent Listing</a>
                {% endif %}

            {% else %}
                Listing does not exist.
            {% endif %}
            
            
            </span>
 
        </p>
    </div>

</div>
{% endblock %}