<!DOCTYPE html>
{% extends 'milk_app/base.html' %}

{% load static %} 


{% block title_block %}
    Browse my Listings
    

{% endblock %}

{% block body_block %}
<br><br>    
<h1 class="top-space-heading">Browse all your listings</h1>

    <div class="text-center">       
            {% if profile.account == 'Host' %}
                <p> All the listings that you are currently renting out:</p>
            {% elif profile.account == 'Tenant' %}
                <p>All the listings that you are currently renting:</p>
            {% endif %}
        <div>
            
            {% if my_listings %} 
                
                {% for l in my_listings  %}
                    <li><strong><a href="{% url 'milk_app:show_listing' l.slug %}">{{ l.name }}</a></strong></li>
                {% endfor %}
                 
            {% else %}       
                <p> YOU HAVE NO LISTINGS</p>
                <a href = {% url 'milk_app:add_listing' %}> Add a listing </a>

            {% endif %}
            
            
        </div>
    </div>
    
{% endblock %}



