{% extends 'milk_app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>


{% block title_block %}
    user.username 's  profile

{% endblock %}

{% block body_block %}


<div class="jumbotron p-2" style = "width: 22rem;">
    <div class="container padding-4">
        <div h1 class="jumbotron-heading">
            Greetings  {{user.username}}
            
        </div>
        <div>
            Your role is: {{user.userprofile.account}}
            {% if user.userprofile.picture %}
                <img src = "/media/{{user.userprofile.picture}}" height = "10%" width= "10%"></img>
            {% endif %}
        </div>
        

        <!-- <div> <a href = "#">Change your password</a></div> -->
        
        <div> <button class = "btn btn-primary" type="button" id="formButton"> Update Profile </button></div> 

        <form style="display: none;" id = "update_form" method='POST' enctype="multipart/form-data" action="{% url 'milk_app:profile' %}">
            {%csrf_token%}
            {{u_form|crispy}}
            {{p_form|crispy}}
            <button class = "btn btn-primary" type='submit' name = 'submit'>Make changes!</button>
        </form>

        <p style = "font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; "class="font-weight-bold">About page set up within the views</p>  
        <p style = "font-family: cursive; ">
            <span style="color: cornflowerblue;">Visits: </span>
 
        </p>
    </div>

</div>



<!-- <img src="{% static "images/rango.jpg" %}" width="500" height =500 alt="Picture of Rango" /> 
<img src="{{MEDIA_URL}}cat.jpg" alt="Picture of a Cat." width="500" height =500 /> -->


{% endblock %}


