{% extends 'milk_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
<h1>Register for MilkStudents</h1>
{% if registered %}
Rango says: <strong>thank you for registering!</strong>
<a href="{% url 'milk_app:home' %}">Return to the homepage.</a><br />
{% else %}
<form id="user_form" method="post" action="{% url 'milk_app:register' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form.as_p }}
    
    {{ profile_form.as_p }}

    <input type="submit" name="submit" value="Register" />
</form>
{% endif %}
{% endblock %}