@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body  {
  overflow-x: hidden;
  font-family: 'Rubik', sans-serif;
  color: #505962;
}

.offset::before  {
  height: 4rem;
  margin-top: -4rem;
  content: "";
  display: block;
}

/*-- Navbar styling --*/

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  letter-spacing: .1 rem;
  background: rgba(0,0,0,.6)!important;
}

.navbar-brand img{
  height: 2rem;
}

.navbar-nav li {
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .navbar-link {
  color: white;
  padding-top: .8rem;
}
.navbar-dark .navbar-nav .navbar-link.active,
.navbar-dark .navbar-nav .navbar-link:hover {
  color: #1ebba3;
}

/*-- Slider --*/

.carousel-item  {
  height: 100vh; 
}

.carousel-caption {
  position: absolute;
  top: 38%;
  text-transform: uppercase;
  width: 100%;
  right: 0;
  left: 0;
}

.carousel-caption h1  {
  font-size: 4rem;
  letter-spacing: .3rem;
  font-weight: 700;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}

.carousel-caption h3  {
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}

/*--- Contact ---*/

footer  {
  background-color: #40474e;
  color: white;
  padding-top: 2rem;
  padding-bottom: 3rem;
  margin-top: 1rem;
  text-align: center;
}

footer img  {
  height: 8rem;
  margin: 1.5rem 0;
}

/*-- Cards ---*/

.card-img-top {
  max-height:160px; 
  min-height:160px;
  object-fit: cover
}

.top-space-heading  {
  margin-top: 3rem;
  padding-top: 3rem;
  text-align: center;
}

#login_form {
  display: block;
  margin: auto;
  width: 50%;
  padding: 20px;
  min-width: 300px;
  max-width: 100%;
}

#user_form {
  display: block;
  margin: auto;
  width: 50%;
  padding: 20px;
  min-width: 300px;
  max-width: 100%;
}

#listing_form {
  display: block;
  margin: auto;
  width: 50%;
  padding: 20px;
  min-width: 300px;
  max-width: 100%;
}

#update_form {
  display: block;
  margin: auto;
  width: 50%;
  padding: 20px;
  min-width: 300px;
  max-width: 100%;
}

/* button {
  background-color: rgb(106, 119, 123);
  border-radius: 4px;
  color: white;
  margin: 10px;
  padding: 5px 10px 5px 10px;

  transition: transform 10s;
}

button:hover {
  transform: scale(1.05);

} */

